version: 'version'

services:
  postgres:
    image: postgres
    container_name: postgres-db
    environment:
      POSTGRES_USER: your_db_user
      POSTGRES_PASSWORD: your_password
      POSTGRES_DB: your_db_name
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data